<!DOCTYPE html>
<html lang="en" style="background-color: black">
	<head>
        <title>{{obj.title}}</title>
		<meta charset="utf-8"/>
		<meta name="description" content="{{obj.description}}">

		<link rel="stylesheet" type="text/css" href="css/game.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" type="text/css" href="css/night-owl.css" media="print" onload="this.media='all'">

		<meta name="mobile-web-app-capable" content="yes">
		<meta name="viewport" content="minimal-ui, user-scalable=no, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="apple-mobile-web-app-title" content="{{obj.title}}">

		<script src="lib/gl-matrix.js"></script>
 		{{#obj.libs}}
		<script src="generated/js/lib/{{.}}"></script>
		{{/obj.libs}}
		<script src="generated/js/data.js"></script>
		<script src="game/components/text-utils.js"></script>
		<script src="game/game.js"></script>
		<script src="game/sprite-definition.js"></script>
		<script src="utils/log.js"></script>
		<script src="utils/utils.js"></script>
		<script src="core/constants.js"></script>
		<script src="core/pool.js"></script>
		<script src="core/texture-manager.js"></script>
		<script src="core/shader.js"></script>
		<script src="core/scene-renderer.js"></script>
		<script src="core/data-store.js"></script>
		<script src="core/keyboard.js"></script>
		<script src="core/engine-buffer.js"></script>
		<script src="core/engine-chunk.js"></script>
		<script src="core/gl-renderer.js"></script>
		<script src="core/sprite-provider.js"></script>
		<script src="core/base-sprite.js"></script>
		<script src="core/image-sprite.js"></script>
		<script src="core/animated-sprite.js"></script>
		<script src="core/sprite.js"></script>
		<script src="core/sprite-definition-processor.js"></script>
		<script src="core/video-manager.js"></script>
		<script src="core/engine.js"></script>
		<script src="core/game-property.js"></script>
		<script src="core/config-processor.js"></script>
		<script src="core/scene-manager.js"></script>
 		{{#obj.scenes}}
		<script>SceneManager.loadingSceneName = "{{.}}";</script>
		<script src="generated/js/scenes/{{.}}/start.js"></script>
		{{/obj.scenes}}		
	</head>

	<body class="container">
		<div id="editor" class="editor">
			<div class="tab-container">
				<div id="editor-tabs" class="tab-container">
					<div id="config" class="tab">game.json</div>
					<div id="scene-code" class="tab selected">scenes//start.js</div>
					<div id="assets" class="tab">scenes//assets</div>
				</div>
				<div style="width: 100%"></div>
				<div id="panel-exit-button" class="panel-button" onclick="SceneThumbnail.instance.shiftPanel()">
					GAME ➡️
				</div>
			</div>
			<div class="editor-container">
				<div id="source-code" class="source-code"></div>
				<div id="assets-container" class="assets-container"></div>
			</div>
		</div>
		<div id="panel" class="panel">
			<canvas id="canvas" width={{obj.width}} height={{obj.height}}></canvas>
		</div>
		<script>
			const engine = new Engine(document.getElementById("canvas"), SceneManager.instance);
			document.addEventListener("DOMContentLoaded", () => engine.start());
		</script>
		<script src="editor/scene-thumbnail.js"></script>
		<script src="editor/editor.js"></script>
	</body>
</html>