<!DOCTYPE html>
<html lang="en" style="background-color: black">
	<head>
        <title>{{obj.title}}</title>
		<meta charset="utf-8"/>
		<meta name="description" content="{{obj.description}}">

{{! 		<link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
		<link rel="manifest" href="manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ac3f36">
 }}
		<link rel="stylesheet" type="text/css" href="css/game.css" media="print" onload="this.media='all'">

		<meta name="mobile-web-app-capable" content="yes">
		<meta name="viewport" content="minimal-ui, user-scalable=no, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="apple-mobile-web-app-title" content="{{obj.title}}">

		<script src="core/gl-matrix.js"></script>
		<script src="core/constants.js"></script>
		<script src="core/utils.js"></script>
		<script src="core/pool.js"></script>
		<script src="core/texture-manager.js"></script>
		<script src="core/shader.js"></script>
		<script src="core/scene-renderer.js"></script>
		<script src="core/sprite-renderer.js"></script>
		<script src="core/evaluator.js"></script>
		<script src="core/engine-buffer.js"></script>
		<script src="core/engine-chunk.js"></script>
		<script src="core/engine.js"></script>
		<script src="core/sprite-provider.js"></script>
		<script src="core/base-sprite.js"></script>
		<script src="core/image-sprite.js"></script>
		<script src="core/animated-sprite.js"></script>
		<script src="core/sprite.js"></script>
		<script src="core/sprite-definition-processor.js"></script>
		<script src="core/game.js"></script>
		<script src="core/scene-manager.js"></script>
		<script src="generated/js/data.js"></script>

 		{{#obj.scenes}}
		<script src="generated/js/scenes/{{.}}.js"></script>
		{{/obj.scenes}}		


	</head>

	<body class="container">
		<canvas id="canvas" width=800 height=500></canvas>
		<script>
			const config = ({{{json}}});
			const data = getData();
			let game;
		
			document.addEventListener("DOMContentLoaded", e => {
				game = new Game(document.getElementById("canvas"), sceneManager, config, data);
				game.start();
			});
		</script>
	</body>
</html>