html, body {
    margin: 0;
    height: 100%;
    background-color: black;
    color: silver;
    touch-action: none;
    overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.crisp {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;				
}

.tab {
  background-color: #555555;
  padding: 5px;
  margin: 1px;
  font-size: 8pt;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 8pt;
}

.tap-container {
  display: flex;
  flex-direction: row;
}

.tab:hover {
  color: #FFFFCC;
}

.tab.selected {
  cursor: default;
  background-color: #999999;
  color: #000000;
}

.panel {
  transition: transform .3s ease-in-out;
}

.panel.shifted {
  transform: perspective(1000px) translate3d(-350px, 0, -300px) rotate3d(0, 1, 0, 90deg);
}

.editor-container {
  overflow-x: visible;
  overflow-y: auto;
  width: 500px;
  height: 400px;
}

.panel-button {
  cursor: pointer;
  color: #63809D;
  font-size: 9pt;
  white-space: nowrap;
  display: inline-flex;
  align-items: flex-end;
}

.panel-button:hover {
  color: #6380FF
}

.source-code {
  font-family: "Courier New", monospace;
  font-size: 8pt;
  color: white;
  white-space: pre;
  border: 1px solid #ccc;
  margin: 2px;
  padding: 4px;
}

.editor {
  visibility: hidden;
  opacity: 0;  
  margin-top: 100px;  
  position: absolute;
  transform: perspective(1000px) translate3d(800px, 0, 300px) rotate3d(0, 1, 0, -90deg);
  height: 100%;
  transition: visibility 0.5s, opacity 0.5s linear, transform .3s ease-in-out;
}

.editor.shifted {
  visibility: visible;
  opacity: 1;
  transform: perspective(1000px) translate3d(50px, 0, 0) rotate3d(0, 1, 0, 0);
}

.hidden {
  display: none;
}